@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  width: 250px;
  height: 370px;
  display: flex;
  flex-direction: column;
}

.topIcon {
  display: flex;
  font-size: 40px;
}
.centernumber {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 70px;
}

.bottomIcon {
  display: flex;
  justify-content: flex-start;
  transform: rotate(180deg);
  font-size: 40px;
}
